@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: gray;
    font-family: sans-serif;
    /* font-family: "PT Sans", sans-serif;
    font-family: "Nunito Sans", sans-serif; */
}

#hero {
    display: flex;
}

.serverList {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    background-color: #202225;
    width: 70px;
    align-items: center;
    height: 100vh;
    max-height: 730px;
    gap: 8px;
}

.serverList hr {
    border-radius: 5px;
}

.imageContainer {
    background-color: #36393f;
    /* background-color: red; */
    width: 46px;
    height: 46px;
    /* object-fit: contain; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.channelContainer {
    width: 230px;
    background-color: #2f3136;
    height: 100vh;
    max-height: 730px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.serverName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 100%;
    border-bottom: 1px solid #202225;
    border-top: 3px solid #202225;
    color: white;
    padding: 15px;
}

.serverName p {
    font-weight: 600;
    font-size: 0.9rem;
    display: flex;
}

.textChannelHeader {
    color: #74777a;
    display: flex;
    align-items: center;
    margin-top: 27px;
    display: flex;
    font-size: 0.72rem;
    font-weight: 600;
    justify-content: space-between;
    padding: 0px 15px;
}

.textChannels {
    padding: 10px 10px;
}

.textChannel {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 8px 10px;
    color: #74777a;
    font-size: 0.95rem;
    font-weight: 500;
}

.selected {
    background-color: #393d42;
    border-radius: 5px;
}

.selected p {
    color: white;
}

#hash {
    color: #74777a;
}

.profileBox {
    height: 50px;
    background-color: #292b2f;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-right: 0px;
}

.controls {
    /* border: 1px solid; */
    padding: 10px;
    padding-right: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 110px;
    margin-left: 10px;
}

.mic,
.headphone,
.setting {
    position: relative;
    display: flex;
}

.mic hr,
.headphone hr,
.setting hr {
    margin-top: 10px;
    position: absolute;
    rotate: 140deg;
}

.userIcon {
    height: 30px;
    width: 30px;
    background-color: #2f3136;
    border-radius: 100px;
    overflow: hidden;
}

.userInfo {
    padding: 0px 5px;
}

.userInfo strong {
    font-size: 0.9rem;
}

.userInfo p {
    font-size: 0.7rem;
    color: #74777a;
}

.chatContainer {
    display: flex;
    flex-direction: column;
    /* background-color: #36393f; */
    width: calc(100% - 300px);
    height: 100vh;
    max-height: 730px;
    /* border: 1px solid; */
    max-width: 1238px;
}

.topBar {
    width: calc(100vw-300px);
    background-color: #36393f;
    height: 48px;
    border-bottom: 1px solid #202225;
    border-top: 3px solid #202225;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 2px;
    /* max-width: 1238px; */
}

.text1 {
    display: flex;
    padding-left: 10px;
    /* border: 1px solid; */
    gap: 15px;
    font-size: 0.95rem;
    align-items: center;
}

.text2 {
    color: #74777a;
}

.vr {
    rotate: 90deg;
}

.text1 #hash {
    font-size: 1.5rem;
    font-weight: 600;
}

.status {
    /* border: 1px solid; */
    background-color: #2f3136;
    height: calc(100vh - 48px);
    max-height: 682px;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.status::-webkit-scrollbar {
    display: none;
}

.member {
    display: flex;
    gap: 10px;
    align-items: center;
    /* border: 1px solid; */
    padding: 10px;
}

.memberImage {
    width: 32px;
    height: 32px;
    /* background-color: #74777a; */
    border-radius: 100px;
    overflow: hidden;
}

.memberInfo {
    font-size: 0.8rem;
    font-weight: 600;
    color: #797a7e;
}

.statusIndicator {
    /* border: 1px solid; */
    padding-top: 15px;
    font-size: 0.75rem;
    color: #74777a;
    font-weight: 600;
}

.tag {
    height: 20px;
    width: 30px;
    border-radius: 5px;
    font-size: 0.6rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
}

.bot {
    background-color: #6e86d6;
}

.adm {
    background-color: #f84a4b;
    padding-right: 1px;
    padding-bottom: 2px;
}

.chatArea {
    background-color: #36393f;
    display: flex;
}

.chat {
    /* border: 1px solid; */
    width: 985px;
    height: calc(100vh - 48px);
    max-height: 682px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* padding: 10px; */
}

.msgBox {
    background-color: #40444b;
    height: 42px;
    width: calc(100%-10px);
    margin: 20px 10px;
    border-radius: 5px;
    justify-self: flex-end;
    display: flex;
    overflow: hidden;
}

.msgBox #hash {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    width: 50px;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
}

.msgInput {
    background-color: transparent;
    border: none;
    outline: none;
    width: calc(100% - 50px);
    caret-color: white;
    padding-left: 10px;
    color: white;
}

.msgInput::placeholder {
    font-weight: 600;
}

.msgInput:hover {
    cursor: pointer;
}

.chatMsg {
    /* border: 1px solid; */
    margin: 5px;
    display: flex;
    margin: 10px;
    /* align-items: center; */
}

.chatUserImage {
    border-radius: 100px;
    overflow: hidden;
    height: 40px;
    width: 40px;
    margin: 10px;
}

.chatUserInfo {
    /* margin-top: 5px;
    margin-left: 7px; */
    margin: 5px 0px 0px 5px;
    display: flex;
    gap: 10px;
    /* border: 1px solid; */
    /* height: 25px; */
    align-items: center;
}

.chatUserName {
    font-weight: 600;
    font-size: 0.85rem;
}

.chatDate {
    font-size: 0.7rem;
    color: #74777a;
    font-weight: 600;
}

.chatTexts {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 0.9rem;
    padding-top: 3px
}

.msgContainer {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    max-height: 615px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.msgContainer::-webkit-scrollbar {
    display: none;
}

.dateLine {
    display: flex;
    width: 100%;
    /* border: 1px solid; */
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0px 15px;
    margin: 5px;
}

.dateLine .date {
    width: 110px;
    font-size: 0.7rem;
    font-weight: 600;
    color: #74777a;
    /* border: 1px solid; */
    text-align: center;
    /* height: 50px; */
}

.EL {
    background-color: #f4511e;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    padding-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}