* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    border: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
*::-webkit-scrollbar {
    display: none;
}
body{
    background-color: rgba(0, 0, 0, 0.089);
}
/*navbar*/
.nav-bar {
    height: 70px;
    width: 100%;
    gap: 50px;
    display: flex;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0px;
    z-index: 10;
}
.nav-logo {
    height: 50px;
    width: 100px;
    margin-left: 20px;
}
.logo{
    background-size: cover;
    height: 50px;
    width: 100px;
    position: relative;
}
.logo img{
    position: absolute;
    left: -58px;
    top: 5px;
}
.nav-search{
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color:#F0F5FF;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    min-width: 300px;
}
.search-bar{
    height: 40px;
    width: 100%;
    font-size:1rem ;
    background-color: #F0F5FF;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.search-bar:focus-visible{
    outline: none;
}
.search-icon{
    height: 40px;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 8px ; 
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    /* background-color: transparent; */
   
}
.nav-login{
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    cursor: pointer;
    /* margin-left: 15px; */
    height: 40px;
    border-radius: 10px;
}
.login-title{
    margin-left: 10px;
}
.login-arrow select{
    border: none;
}
.nav-login:hover{
     /* background-color: blue;  */
}
.nav-cart{
    margin-left:15px ;
}
.nav-cart{
    display: flex;
}
.cart-text{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.nav-seller{
    display: flex;

}
.seller_one{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.menu{
    margin-right: 50px;
    cursor:pointer;
}

/* box2 */
.shopping-options{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    margin: 85px 25px 15px 25px;
    height: 125px;
}
.text{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #111112;
}
.items{
    text-align: center;
}
.items img{
    margin-top: 15px;
}
.items select{
    border: none;
    cursor: pointer;
}
/*box3*/
.arrow-left{
    left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.arrow-container{
    height:90px;
    width:40px;
    background-color:white;
    position: absolute;
    top: calc(50% - 45px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow-right{
    right: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.flight-img{
    position: relative;
    overflow:hidden;
    margin: 0 25px;
}
.flight-img img{
    object-fit: cover;
    cursor: pointer;
    width: 100%;
    height: 269px;
}
/*box4*/
.box_four{
    display: flex;
    gap: 15px;
    margin: 15px 25px;
    margin-top: 10px;
    height: 300px;
    overflow: hidden;
    /* align-items: center; */
}
.electronics-items{
    background-color: white;
    height: 300px;
    width: 100%;
}
.electronic-item{
    display: flex;
    justify-content:space-evenly;
}
.item-name{
    font-size: 14px;
    margin-top: 20px;
}
.electronic-text{
    font-size: 25px;
    /* border:1px solid black; */
    padding:10px 2px 10px 15px; 
    font-weight: 700;
}
.code_image img{
    height: 300px;
    overflow: hidden;
}
.item-price{
    font-weight: 600;
    font-size: 15px ;
    margin-top: 10px;
}
.ec-item img{
    margin-top: 15px;
}
.five img{
    margin-top: 63px;
}
.one img{
    margin-left: 35px;
}
/*box5*/
.box_five{
    background-color: white;
    height: 300px; 
    margin : 10px 25px 15px 25px;
}
.boxfive_text{
    font-size: 25px;
    /* border:1px solid black; */
    padding:10px 2px 10px 15px; 
    font-weight: 700;
}
.boxfive_items{
    display: flex;
    justify-content: space-evenly;
}
.boxitem_name{
    font-size: 14px;
    margin-top: 20px;
}
.box_price{
    font-weight: 600;
    font-size:15px ;
    margin-top: 10px;
}
.cycle img{
    margin-top: 37px;
}
.musical img{
    margin-top: 45px;
}
.yoga img{
    margin-top: 60px;
}
.bag img{
    margin-top: 20px;
}
.shoes img{
    margin-top: 55px;
}
/*box6*/
.essentials{
    display: flex;
    gap:15px;
    justify-content: center;
    /* padding-left: 25px; */
    margin: 0px 25px;
}
.es_box1{
    background-color: white;
    width: 515px;
    height: 620px;
}
.esboxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.esboxes1{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(189, 187, 187, 0.445);
    width: 190px;
    height: 260px;
    margin-top: 15px;
    overflow: hidden;
    border-radius: 5px;
    align-items: center;
}
.esboxes1 img{
    height: 170px;
    width: 170px;
    margin: 10px 25px 10px 25px;
}
.esbox1_text{
    font-size: 25px;
    padding:10px 2px 10px 15px; 
    font-weight: 700;
}
.eboxes_offer{
    color: #108934;
    font-weight: 550;
    margin: 5px 0px 5px 10px;
    align-self: flex-start;
}
.eboxes_name{
    font-size: 18px;
    margin: 15px 0px 5px 10px;
    align-self: flex-start;
}

.es_second{
    margin-top: 15px;
}

/*foter*/
.foot{
    background-color: #F5F5F5;
    margin-top: 15px;
    padding: 10px 30px 10px 25px;
    color: #878787;
}
.foot h2{
    color: #878787;
    font-size: 18px;
}
.foot h1{
    color: #878787;
    font-size: 20px;
}
.foot p{
    color:#878787 ;
}
.black_foot{
    background-color: #212121;
    height: 400px;
}
.about1{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.about1 p{
    color: #878787;
    font-size: 14px;
    font-weight: 600;
    margin: 20px  0px 10px 45px;
}
.about1 a{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin: 5px 0px 0px 45px;
}
.about{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.about2 h4{
    color: #878787; 
    font-size: 14px;
    font-weight: 600;
    margin: 20px  0px 10px 25px;
}
.about2 p{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin: 5px 0px 0px 25px;
}
.about2{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.social_icons{
    display: flex;
    gap: 15px;
}
.ig img{
    height: 18px;
    width: 18px;
    margin-top: 3px;
}
.social_text{
    color: #878787; 
    font-size: 14px;
    font-weight: 600;
    margin: 20px  0px 10px 25px;
}
.fb{
    margin-left: 25px;
}
.ph{
    text-decoration: none;
}
.last_foot{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.seller{
    color: white;
}
.sec_last{
    display: flex;
    color: white;
}
.c_circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 10px;
}
.seller img{
    margin-right: 10px;
}
.last_line{
    color: #878787;
}

footer {
    background-color: #212121;
    height: 350px;
    width: 100%;
}

footer .top {
    height: 285px;
    color: white;
    display: flex;
    align-items: center;
}

footer .top hr {
    height: 200px;
}

footer .top .left {
    height: 100%;
    width: calc(100% - 620px + 50px);
    display: flex;
    justify-content: space-evenly;
    padding-left: 25px;
}

.footer_left_content {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    min-width: 230px;
}

.footer_left_content a {
    color: #FFFFFF;
    font-size: 0.75rem;
    font-weight: 500;
    cursor: pointer;
}

.footer_left_content p,
.footer_right_content h4 {
    color: #878787;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 15px;
}

footer .top .right {
    height: 100%;
    width: 620px;
    display: flex;
    padding-left: 25px;
    gap: 10px;
}

.footer_right_content {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    min-width: 270px;
    font-size: 0.75rem;
}

footer .bottom {
    height: 65px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.social_text {
    margin: 20px 0 10px 0;
}
.social_icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 190px;
    border: 1px solid;
}