* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    font-family: sans-serif;
    /* background-image: url(./assets/bg1.png); */
    background-color: #dbecfe;
    background-repeat: no-repeat;
    background-size: cover;
    scrollbar-width: none;
}

#hero {
    height: calc(100vh - 10px);
    width: 100vw;
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
    margin-bottom: 10px;
}

#hero::-webkit-scrollbar {
    display: none;
}

main {
    height: 100%;
    width: calc(100% - 580px);
    /* border: 1px solid red; */
    padding: 20px;
    min-width: 1130px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 20px 0 20px 20px;
    font-size: 1.45rem;
    font-weight: 600;
}

.navbar div {
    display: flex;
    width: fit-content;
    gap: 30px;
    margin-right: 25px;
    font-size: 1.2rem;
    font-weight: 500;
    color: gray;
    position: relative;
    /* text-decoration: underline; */
}

.navbar div hr {
    position: absolute;
    border-radius: 10px;
    width: 132px;
    bottom: -5px;
}

.navbar span,
.staking-activation span {
    font-weight: 500;
    font-size: 1.2rem;
    color: gray;
    display: flex;
    gap: 10px;
}

span img {
    height: 25px;
}

aside {
    height: 100%;
    width: 580px;
    padding: 20px;
    padding-right: 40px;
}

aside .navbar {
    padding: 20px 20px 20px 0;
}

.balance-card {
    height: 385px;
    width: 100%;
    background-color: #0b99ff;
    border-radius: 15px;
    margin-top: 10px;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.balance-card img {
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    position: absolute;
    top: 30px;
    right: 30px;
}

.balance-card p {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.744);
}

.balance-card .top {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.balance-card .top strong {
    font-size: 2rem;
}

.mid-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* padding-bottom: 30px; */
}

.mid-container p {
    font-size: 1.2rem;
    padding-bottom: 15px;
    padding-right: 10px;
    width: 100%;
}

.mid-container strong {
    font-size: 1.3rem;
}

.balance-card .buttons {
    display: flex;
    width: 100%;
}

.balance-card button {
    padding: 15px 40px;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.05rem;
}

.balance-card button.transfer-btn {
    background: #0b99ff;
    color: white;
    border: 2px solid white;
}

.top-content {
    width: 100%;
    display: flex;
    height: 400px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding-right: 0px;
    gap: 20px;
}

.top-content .top-right {
    width: calc(100% - 305px - 30px);
    justify-content: space-center;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.top-content .card {
    background-color: white;
    height: 46%;
    width: 350px;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    gap: 15px;
    font-size: 1.1rem;
    flex-direction: column;
}

.card img,
.top-left .top-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card-top {
    display: flex;
    gap: 20px;
}

.card-top-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 55px;
}

.card-top-info div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.card p, .top-card p, .top-left p {
    color: gray;
}

#topLeft {
    align-self: flex-start;
}

.card-bottom-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.card-bottom-info strong {
    font-size: 1.1rem;
}

.card-bottom-info div {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.card-bottom-info .stake-btn {
    /* padding: 10px; */
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 5px;
}


.top-content .top-left {
    height: 100%;
    width: 305px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    padding: 30px;
    justify-content: space-between;
    /* gap: 30px; */
}

.top-left .top-card {
    display: flex;
    gap: 20px;
}

.top-left .mid-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
}

.top-left .stake-btn {
    background-color: #0b99ff;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    margin-bottom: 20px;
}

.rewards-query {
    width: 100%;
    margin: 30px 0;
    margin-bottom: 0px;
    padding: 20px;
    padding-right: 0px;
    height: 250px;
}


.query-container {
    width: 100%;
    background-color: white;
    height: 140px;
    border-radius: 10px;
    display: flex;
    padding: 20px 40px;
    font-size: 1.1rem;
    gap: 30px;
}

.query-content {
    height: 100%;
    /* border: 1px solid red;    */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.query-content .query-val {
    background-color: #c4c3c35f;
    padding: 10px;
    font-weight: 500;
    border-radius: 5px;
    width: 225px;
}

.staking-rewards {
    margin-top: 35px;
    height: 290px;
    width: 100%;
    padding: 20px 0;
}

.reward-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.staking-rewards .reward-heading img {
    width: 30px;
    position: absolute;
    right: 0;
    top: -3px;
}

.rewards-container {
    width: 100%;
    background-color: white;
    height: 210px;
    border-radius: 10px;
    padding: 40px 30px;
    font-size: 1.1rem;
}

.rewards-container .reward-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.reward-content p,
.query-content p {
    color: gray;
    font-weight: 500;
}

.reward-content span {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #0b99ff;
}

.reward-content .reward-inner p {
    margin-bottom: 7px;
}

.claim {
    color: #0b99ff;
}

.staking-activation {
    width: 100%;
    margin-bottom: 0px;
    padding: 20px 0 0 20px;
    height: 570px;
}

.activation-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.activation-container {
    width: 100%;
    background-color: white;
    height: calc(100% - 70px);
    border-radius: 10px;
}

.stats {
    margin-top: 40px;
    width: 100%;
    height: 470px;
}

.stats-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.stats-top p {
    color: gray;
    font-size: 1.4rem;
    letter-spacing: 5px;
}

.stats-top p font {
    color: #0b99ff;
}

.stats-container {
    width: 100%;
    background-color: white;
    height: 400px;
    border-radius: 10px;
    padding: 20px 10px;
}

.stats-container img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: stretch;
}