* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    font-family: sans-serif;
    /* background-image: url(./assets/bg1.png); */
    background-color: #dbecfe;
    background-repeat: no-repeat;
    background-size: cover;
    scrollbar-width: none;
}

#hero {
    height: calc(100vh - 10px);
    width: 100vw;
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
    margin-bottom: 10px;
}

#hero::-webkit-scrollbar {
    display: none;
}

main {
    /* border: 3px solid red; */
    height: 100%;
    width: calc(100% - 580px);
    padding: 20px;
}

.navbar {
    /* border: 2px solid purple; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 20px 0 20px 20px;
    font-size: 1.45rem;
    font-weight: 600;
}

.navbar div {
    display: flex;
    width: fit-content;
    gap: 30px;
    margin-right: 25px;
    font-size: 1.2rem;
    font-weight: 500;
    color: gray;
    position: relative;
    /* text-decoration: underline; */
}

.navbar div hr {
    position: absolute;
    border-radius: 10px;
    width: 132px;
    bottom: -5px;
}

.navbar span,
.staking-activation span {
    font-weight: 500;
    font-size: 1.2rem;
    color: gray;
    display: flex;
    gap: 10px;
}

span img {
    height: 25px;
}

aside {
    height: 100%;
    width: 580px;
    padding: 20px;
    padding-right: 40px;
}

aside .navbar {
    padding: 20px 20px 20px 0;
}

.balance-card {
    height: 385px;
    width: 100%;
    background-color: #0b99ff;
    border-radius: 15px;
    margin-top: 10px;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.balance-card p {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.744);
}

.balance-card .top {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.balance-card .top strong {
    font-size: 2rem;
}

.mid-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* padding-bottom: 30px; */
}

.mid-container p {
    font-size: 1.2rem;
    padding-bottom: 15px;
    padding-right: 10px;
    width: 100%;
}

.mid-container strong {
    font-size: 1.3rem;
}

.balance-card .buttons {
    display: flex;
    width: 100%;
}

.balance-card button {
    padding: 15px 40px;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.05rem;
}

.balance-card button.transfer-btn {
    background: #0b99ff;
    color: white;
    border: 2px solid white;
}

.top-content {
    width: 100%;
    display: flex;
    height: 400px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding-right: 0px;
    gap: 20px;
}

.top-content .top-left {
    height: 100%;
    width: 305px;
    background-color: white;
    border-radius: 10px;
}

.top-content .top-right {
    width: calc(100% - 305px - 30px);
    justify-content: space-center;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.top-content .card {
    background-color: white;
    height: 46%;
    width: 350px;
    border-radius: 10px;
}

.rewards-query {
    width: 100%;
    margin: 30px 0;
    margin-bottom: 0px;
    padding: 20px;
    padding-right: 0px;
    height: 250px;
}

.heading {
    margin-bottom: 20px;
}

.query-container {
    width: 100%;
    background-color: white;
    height: 140px;
    border-radius: 10px;
}

.staking-rewards {
    margin-top: 35px;
    height: 290px;
    width: 100%;
    padding: 20px 0;
}

.rewards-container {
    width: 100%;
    background-color: white;
    height: 210px;
    border-radius: 10px;
}

.staking-activation {
    width: 100%;
    margin-bottom: 0px;
    padding: 20px 0 0 20px;
    height: 570px;
}

.activation-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.activation-container {
    width: 100%;
    background-color: white;
    height: calc(100% - 70px);
    border-radius: 10px;
}

.stats {
    margin-top: 40px;
    width: 100%;
    height: 470px;
}

.stats-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.stats-top p {
    color: gray;
    font-size: 1.4rem;
    letter-spacing: 5px;
}

.stats-top p font {
    color: #0b99ff;
}

.stats-container {
    width: 100%;
    background-color: white;
    height: 420px;
    border-radius: 10px;
}